.timer {
    margin: 4px;
    float: right;
    width: 80px;
}

.timer button {
    background: none;
    border: none;
    float: left;
    -webkit-filter: opacity(0.4);
    filter: opacity(0.4);
}

.timer button.start {
    -webkit-filter: opacity(1);
    filter: opacity(1);
}